@import url("../../public/fonts/font.scss");
@import url("./variables.scss");
@import url("./global.scss");

body {
  background-color: var(--bg-color);
}

// HEADER
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-bottom: 44px;
}

.iconContainer {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 100%;
  background-color: var(--theme-toggle);
  transition: all 0.2s ease-in;
}

.iconContainer:hover {
  background-color: var(--theme-toggle-hover);
}

.iconTheme {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.search {
  display: flex;
  justify-self: end;
  width: 392px;
  padding: 8px 0;
  border: 1px solid var(--border-input-search);
  background: var(--theme-toggle);
  border-radius: 5px;
  margin-bottom: 20px;
}

.searchInput {
  font-size: 14px;
  font-family: "Inter";
  font-weight: 300;
  background: transparent;
  color: var(--text-color);
}

.searchIcon {
  padding: 0 16px;
}

// PAINTINGS CARD
.paintingsContainer {
  display: grid;
  gap: 31px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 40px;
}

.paintings {
  position: relative;
  width: 392px;
  height: 260px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease;
}

.image:hover {
  transform: scale(1.05);
}

.paintings:hover .paintingMeta {
  transform: translateX(0);
}

.paintings:hover .paintingHeader {
  transform: translateY(200%);
}

.paintingsInfoContainer {
  position: absolute;
  background-color: var(--bg-color);
  width: 300px;
  height: 82px;
  bottom: 0;
}

.paintingInfo {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  height: 100%;
  padding: 20px;
}

.paintingInfoTop {
  font-size: 1.125rem;
  font-family: "Cormorant-SC";
  font-weight: 500;
  color: var(--text-color);
  text-transform: uppercase;
}

.paintingInfoBottom {
  font-size: 0.875rem;
  font-family: "Inter";
  font-weight: 700;
  color: var(--accent-color);
}

.separator {
  position: absolute;
  height: 42px;
  top: 50%;
  outline: 2px var(--accent-color) solid;
  transform: rotate(180deg);
  transform: translateY(-50%);
}

.paintingMeta {
  position: absolute;
  transform: translateX(-200%);
  transition: all 0.5s ease-out;
}

.paintingHeader {
  transition: all 0.5s ease-out;
}

// PAGINATION
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 100px;
}

.nextArrow {
  margin-left: 10px;
}

.backArrow {
  margin-right: 10px;
}

.paginationContainer {
  display: flex;
  gap: 4px;
  align-items: center;
}

.paginationNumber {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: var(--text-color);
}

.paginationNumber:hover {
  border-bottom: 1px solid var(--border-pagination-color);
  font-weight: 500;
}

.paginationNumberActive {
  font-weight: 500;
  border-radius: 4px;
  background: var(--pagination-card-color);
}

.paginationNumber.paginationNumberActive:hover {
  border-bottom: none;
  cursor: default;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.arrow:hover {
  background: var(--pagination-card-color);
}
