@font-face {
  font-family: "Cormorant-SC";
  src: url("./Cormorant-SC/CormorantSC-SemiBold.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter/Inter_18pt-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter/Inter_18pt-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter/Inter_18pt-Bold.ttf");
  font-weight: 700;
}
